body {
    font-size: 3rem;
    background-color: wheat;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

main#home, main#projects {
    margin: 0 auto;
    max-width: 640px;
    max-width: 50rem;
}

main#contact {
    text-align: center;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
    padding-top: 0;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 2rem;
    }
}
