body {
    font-size: 3rem;
    background-color: #f8eedc;
    margin: 3rem 3rem 6rem 3rem;
}

main#home, main#projects {
    margin: 0 auto;
    max-width: 800px;
    max-width: 50rem;
}

main#contact {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 a {
    font-size: 2.5rem;
}

p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6rem;
    padding-bottom: 0;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 2rem;
        margin: 1rem 1rem 2rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h1 a {
        font-size: 1.75rem;
    }

    p {
        margin-bottom: 4.5rem;
    }
}
